# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
package.json

# Images
!menu_P03 ステータス-ちんぽ-ピッグマン270.png
!PC001-ero019-03-装飾-入れ墨-bs.png
!01_Window-s.png
!02_Window-s.png
!新しいフォルダー
!menu_P01 HELP01.png
!menu_P01 セレナ名前.png
!menu_P01 枠.png
!menu_P01 説明_名前.png
!menu_P02 ステータス-処女膜-LV01.png
!menu_P02 ステータス-処女膜-LV02.png
!menu_P02 ステータス-処女膜-LV03.png
!menu_P02 ステータス-処女膜-LV04.png
!menu_P02 ステータス-処女膜-LV05.png
!menu_P02 ステータス-処女膜-LV06.png
!menu_P02 ステータス-性感-LV01.png
!menu_P02 ステータス-性感-LV02.png
!menu_P02 ステータス-性感-LV03.png
!menu_P02 ステータス-性感-LV04.png
!menu_P02 ステータス-性感-LV05.png
!menu_P02 ステータス-性感-LV06.png
!menu_P02 ステータス-感度-LV01.png
!menu_P02 ステータス-感度-Lv02.png
!menu_P02 ステータス-感度-LV03.png
!menu_P02 ステータス-感度-LV04.png
!menu_P02 ステータス-感度-LV05.png
!menu_P02 ステータス-感度-LV06.png
!menu_P02 ステータス-称号-小公女.png
!menu_P02 ステータス-肛状態-LV01.png
!menu_P02 ステータス-肛状態-LV02.png
!menu_P02 ステータス-肛状態-LV03.png
!menu_P02 ステータス-肛状態-LV04.png
!menu_P02 ステータス-肛状態-LV05.png
!menu_P02 ステータス-肛状態-LV06.png
!menu_P02 ステータス-肛状態-LV07.png
!menu_P02 ステータス-肛状態-LV08.png
!menu_P02 ステータス-肛状態-LV09.png
!menu_P02 ステータス-肛状態-LV10.png
!menu_P02 ステータス-肛状態-LV11.png
!menu_P02 ステータス-胎内-ならずものの子供.png
!menu_P02 ステータス-胎内-オークの胎児.png
!menu_P02 ステータス-胎内-ゴブリンの胎児.png
!menu_P02 ステータス-胎内-ゴードンの子供.png
!menu_P02 ステータス-胎内-ジャックの子供.png
!menu_P02 ステータス-胎内-スライムの胎児.png
!menu_P02 ステータス-胎内-ピッグマンの胎児.png
!menu_P02 ステータス-胎内-ヘンリーの子供.png
!menu_P02 ステータス-胎内-ミノタウロスの胎児.png
!menu_P02 ステータス-胎内-人間の子供.png
!menu_P02 ステータス-胎内-名も知らぬ男の子供.png
!menu_P02 ステータス-胎内-父親不明の子供.png
!menu_P02 ステータス-胎内-盗人の子供.png
!menu_P02 ステータス-胎内-盗賊の子供.png
!menu_P02 ステータス-胎内-触手の胎児.png
!menu_P02 ステータス-胎内形質-オーク.png
!menu_P02 ステータス-胎内形質-ゴブリン.png
!menu_P02 ステータス-胎内形質-スタリオン.png
!menu_P02 ステータス-胎内形質-スライム.png
!menu_P02 ステータス-胎内形質-ピッグマン.png
!menu_P02 ステータス-胎内形質-ローパー.png
!menu_P02 ステータス-胎内形質-ワーグ.png
!menu_P02 ステータス-胎内形質-形質残留.png
!menu_P02 ステータス-胎内形質-形質汚染.png
!menu_P02 ステータス-胎内形質-高貴.png
!menu_P02 ステータス-膣状態-LV01.png
!menu_P02 ステータス-膣状態-LV02.png
!menu_P02 ステータス-膣状態-LV03.png
!menu_P02 ステータス-膣状態-LV04.png
!menu_P02 ステータス-膣状態-LV05.png
!menu_P02 ステータス-膣状態-LV06.png
!menu_P02 ステータス-膣状態-LV07.png
!menu_P02 ステータス-膣状態-LV08.png
!menu_P02 ステータス-膣状態-LV09.png
!menu_P02 ステータス-膣状態-LV10.png
!menu_P02 ステータス-膣状態-LV11.png
!menu_P02 枠 PC001.png
!menu_P03 ステータス-ちんぽ-スライム000.png
!menu_P03 ステータス-ちんぽ-スライム001.png
!menu_P03 ステータス-ちんぽ-スライム002.png
!menu_P03 ステータス-ちんぽ-スライム003.png
!menu_P03 ステータス-ちんぽ-スライム004.png
!menu_P03 ステータス-性知識-LV01.png
!menu_P03 ステータス-性知識-LV02.png
!menu_P03 ステータス-性知識-LV03.png
!menu_P03 ステータス-性知識-LV04.png
!menu_P03 ステータス-性経験-LV01.png
!menu_P03 ステータス-性経験-LV02.png
!menu_P03 ステータス-性経験-LV03.png
!menu_P03 ステータス-性経験-LV04.png
!menu_P03 ステータス-性経験-LV05.png
!menu_P03 ステータス-性認識-LV01.png
!menu_P03 ステータス-性認識-LV02.png
!menu_P03 ステータス-性認識-LV03-C.png
!menu_P03 ステータス-性認識-LV03-L.png
!menu_P03 ステータス-性認識-LV04-C.png
!menu_P03 ステータス-性認識-LV04-L.png
!menu_P03 ステータス-断面図-肛LV01.png
!menu_P03 ステータス-断面図-肛LV02.png
!menu_P03 ステータス-断面図-肛LV03.png
!menu_P03 ステータス-断面図-肛LV04.png
!menu_P03 ステータス-断面図-肛LV05.png
!menu_P03 ステータス-断面図-膣LV01.png
!menu_P03 ステータス-断面図-膣LV02.png
!menu_P03 ステータス-断面図-膣LV03.png
!menu_P03 ステータス-断面図-膣LV04.png
!menu_P03 ステータス-断面図-膣LV05.png
!menu_P03 ステータス-断面図-膣LV06.png
!menu_P03 ステータス-断面図-膣LV07.png
!menu_P03 ステータス-清純度-LV01.png
!menu_P03 ステータス-清純度-LV02.png
!menu_P03 ステータス-清純度-LV03.png
!menu_P03 ステータス-相手-シチュ-お尻でした 1.png
!menu_P03 ステータス-相手-シチュ-お尻を犯された 3.png
!menu_P03 ステータス-相手-シチュ-お尻を触られた 2.png
!menu_P03 ステータス-相手-シチュ-ぶっかけられた 9.png
!menu_P03 ステータス-相手-シチュ-キスされた 4.png
!menu_P03 ステータス-相手-シチュ-セックスした 5.png
!menu_P03 ステータス-相手-シチュ-トイレ中に犯された 6.png
!menu_P03 ステータス-相手-シチュ-フェラさせられた 7.png
!menu_P03 ステータス-相手-シチュ-フェラした 8.png
!menu_P03 ステータス-相手-シチュ-ベッドでレイプされた 10.png
!menu_P03 ステータス-相手-シチュ-レイプされた 11.png
!menu_P03 ステータス-相手-シチュ-人前でレイプされた 26.png
!menu_P03 ステータス-相手-シチュ-体を売った 31.png
!menu_P03 ステータス-相手-シチュ-倉庫でレイプされた 29.png
!menu_P03 ステータス-相手-シチュ-倒されてレイプされた 35.png
!menu_P03 ステータス-相手-シチュ-入浴中に犯された 36.png
!menu_P03 ステータス-相手-シチュ-公開でレイプされた 16.png
!menu_P03 ステータス-相手-シチュ-出産中に犯された 24.png
!menu_P03 ステータス-相手-シチュ-勉強中に犯された 38.png
!menu_P03 ステータス-相手-シチュ-地面でレイプされた 32.png
!menu_P03 ステータス-相手-シチュ-好き放題レイプされた 17.png
!menu_P03 ステータス-相手-シチュ-巣穴でレイプされた 30.png
!menu_P03 ステータス-相手-シチュ-店内でレイプされた 34.png
!menu_P03 ステータス-相手-シチュ-張型でオナニーした 33.png
!menu_P03 ステータス-相手-シチュ-戦闘中にレイプされた 28.png
!menu_P03 ステータス-相手-シチュ-手でした 21.png
!menu_P03 ステータス-相手-シチュ-手でオナニーした 20.png
!menu_P03 ステータス-相手-シチュ-捕まってレイプされた 39.png
!menu_P03 ステータス-相手-シチュ-気絶中に犯された 12.png
!menu_P03 ステータス-相手-シチュ-治療中に犯された 18.png
!menu_P03 ステータス-相手-シチュ-物陰でレイプされた 37.png
!menu_P03 ステータス-相手-シチュ-睡眠中に犯された 27.png
!menu_P03 ステータス-相手-シチュ-穴倉でレイプされた 15.png
!menu_P03 ステータス-相手-シチュ-胸をもまれた 13.png
!menu_P03 ステータス-相手-シチュ-脅されてレイプされた 14.png
!menu_P03 ステータス-相手-シチュ-自分から股を開いた 19.png
!menu_P03 ステータス-相手-シチュ-路地裏でレイプされた 42.png
!menu_P03 ステータス-相手-シチュ-連れ込まれてレイプされた 41.png
!menu_P03 ステータス-相手-シチュ-酒場でレイプされた 22.png
!menu_P03 ステータス-相手-シチュ-野外でレイプされた 40.png
!menu_P03 ステータス-相手-シチュ-集団でレイプされた 23.png
!menu_P03 ステータス-相手-シチュ-食事中に犯された 25.png
!menu_P03 ステータス-相手-トラウマ-モンスターの出産 1.png
!menu_P03 ステータス-相手-トラウマ-モンスターの苗床 2.png
!menu_P03 ステータス-相手-トラウマ-出産 5.png
!menu_P03 ステータス-相手-トラウマ-強姦 4.png
!menu_P03 ステータス-相手-トラウマ-望まぬ出産 6.png
!menu_P03 ステータス-相手-トラウマ-望まぬ妊娠 7.png
!menu_P03 ステータス-相手-トラウマ-監禁 3.png
!menu_P03 ステータス-相手-トラウマ-輪姦 8.png
!menu_P03 ステータス-相手-名前-ならずもの 105.png
!menu_P03 ステータス-相手-名前-オーク 206.png
!menu_P03 ステータス-相手-名前-ゴブリン 201.png
!menu_P03 ステータス-相手-名前-ゴードン 4.png
!menu_P03 ステータス-相手-名前-ジャック 2.png
!menu_P03 ステータス-相手-名前-スライム 211.png
!menu_P03 ステータス-相手-名前-ピッグマン 226.png
!menu_P03 ステータス-相手-名前-ヘンリー 3.png
!menu_P03 ステータス-相手-名前-ミノタウロス 216.png
!menu_P03 ステータス-相手-名前-不明 1.png
!menu_P03 ステータス-相手-名前-名も知らぬ男 101.png
!menu_P03 ステータス-相手-名前-張型 503.png
!menu_P03 ステータス-相手-名前-棒 502.png
!menu_P03 ステータス-相手-名前-温泉客 102.png
!menu_P03 ステータス-相手-名前-盗人 013.png
!menu_P03 ステータス-相手-名前-盗賊 104.png
!menu_P03 ステータス-相手-名前-触手 221.png
!menu_P03 ステータス-相手-状況-事故 1.png
!menu_P03 ステータス-相手-状況-和姦 4.png
!menu_P03 ステータス-相手-状況-器具 501.png
!menu_P03 ステータス-相手-状況-強姦 5.png
!menu_P03 ステータス-相手-状況-自慰 2.png
!menu_P03 ステータス-相手-状況-輪姦 3.png
!menu_P03 枠 PC001.png
!menu_P04 PC001 家系図.png
!menu_P04 PC001 家系図_A.png
!menu_P04 PC001 家系図_B.png
!menu_P04 PC001 家系図_C.png
!menu_P04 枠 PC001.png
!menu_P01 枠.png
!menu_P01 説明_名前.png
!タイトル第三部.png
!タイトル第二部.png
!book-文章-オーク所見01.png
!book-文章-オーク敗北01.png
!book-文章-オーク説明01.png
!book-文章-ゴブリン所見01.png
!book-文章-ゴブリン敗北01.png
!book-文章-ゴブリン説明01.png
!book-文章-サッカー説明01.png
!book-文章-スタリオン説明01.png
!book-文章-スライム説明01.png
!book-文章-ピッグマン説明01.png
!book-文章-モンスター説明01.png
!book-文章-ローパー説明01.png
!book-文章-ワーグ説明01.png
!難易度選択.png